{
  "plugins": [
    "transform-decorators-legacy",
    "external-helpers",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ]
}
