html {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Verdana, Ubuntu, Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 300;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(115,115,115,1) 0%, rgba(0,0,0,1) 100%);
}

button {
  appearance: none;
  border: 0 none;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0;

  &:hover {
    olor: #555;
  }

  > svg {
    height: 75%;
    width: 75%;
  }

  &.round {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }
}

input[type=range] {
  appearance: none;
  width: 100%;
  margin: 4.6px 0;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffffff;
    border-radius: 2.4px;
    border: 0px solid #010101;
  }
  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    appearance: none;
    margin-top: -4.6px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  &::-moz-range-track {
    width: 100%;
    height: 2.8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffffff;
    border-radius: 2.4px;
    border: 0px solid #010101;
  }
  &::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 2.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #ededed;
    border: 0px solid #010101;
    border-radius: 4.8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  &::-ms-fill-upper {
    background: #ffffff;
    border: 0px solid #010101;
    border-radius: 4.8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  &::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 2.8px;
  }

  &:focus::-ms-fill-lower {
    background: #ffffff;
  }

  &:focus::-ms-fill-upper {
    background: #ffffff;
  }
}


@keyframes spinning-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinning-icon {
  animation: spinning-icon 2s infinite linear;
}
