aside.settings {
  text-align: right;
  padding-top: 2.5em;
  position: relative;
  margin-top: -1.5em;

  button.settings {
    position: absolute;
    top: 0;
    right: 0;

    &.round {
      width: 2em;
      height: 2em;
    }
  }
}

label {
  &.setting {
    display: block;
  }
}

.settings-form-container {
  display: none;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.5em;

  &.settings-form-container-open {
    display: block;
  }
}
