.track-list-item {
  margin: 0.5em 0;
  padding: 0.5em;
  box-shadow: 2px 2px 10px black;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;

  dt {
    flex: 1;
  }

  dd {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
